<div *ngIf="!resultCalculated" class="teacher-node flex-container-big">
    <div class="flex-container-big">
        <div>
            <h5><a>{{name}}</a></h5>
        
            <div class="flex-container">
                <p><b>Open date:</b> {{openedDate}}</p>
                <p><b>Deadline:</b> {{deadline}}</p>
            </div>    
        </div>
    </div>
</div>


<div *ngIf="resultCalculated && !triedToPass" class="teacher-node flex-container-big">
    <div class="flex-container-big">
        <div>
            <h5><a>{{name}}</a></h5>
        
            <div class="flex-container">
                <p><b>Open date:</b> {{openedDate}}</p>
                <p><b>Deadline:</b> {{deadline}}</p>
            </div>    
        </div>

     
    </div>

    <div class="end">
        <button type="button" *ngIf="!triedToPass" (click)="passTest()" class="btn btn-warning">Pass</button>
    </div>
</div>



<div *ngIf="resultCalculated && triedToPass && !resultFromBack.passed" class="teacher-node flex-container-big wrong">
    <div class="flex-container-big">
        <div>
            <h5><a>{{name}}</a></h5>
        
            <div class="flex-container">
                <p><b>Open date:</b> {{openedDate}}</p>
                <p><b>Deadline:</b> {{deadline}}</p>
            </div>    
        </div>

     
    </div>

    <div  class="end">
        <h5>Failed</h5>
    </div>
</div>


<div *ngIf="resultCalculated && triedToPass && resultFromBack.passed" class="teacher-node flex-container-big right">
    <div class="flex-container-big">
        <div>
            <h5><a>{{name}}</a></h5>
        
            <div class="flex-container">
                <p><b>Open date:</b> {{openedDate}}</p>
                <p><b>Deadline:</b> {{deadline}}</p>
            </div>    
        </div>

     
    </div>

    <div  class="end">
        <h5>Success</h5>
    </div>
</div>


