<h1>Hello, {{student.name}}</h1>
<br>
<div>
    <div *ngIf="testExists()">
        <button type="button" *ngIf = "!isTests" class="btn btn-success" (click)="showTests()">Show tests</button>
        <button type="button" *ngIf = "isTests" class="btn btn-warning" (click)="showTests()">Hide tests</button>
    </div>
</div>

<div [hidden]="!isTests" class="container-border tests">
    <h3>Tests</h3>
    <br>
    <app-test-student *ngFor="let test of tests" 
    [id]="test.id"
    [name]="test.name" 
    [isOpen]="test.isOpen"
    [openedDate]="test.openedDate" 
    [deadline]="test.deadline">
    
    </app-test-student>
</div>

