<h1>Hello, {{student.name}}</h1>

<div class="Info">
    <br>
    <div>Age: {{student.age}}</div>
    <div>Registration date: {{student.registrationDate}}</div>
    <br>
</div>
    
<div>
    <h5>Teacher: <b>{{teacher.name}} </b></h5>
</div>


<div>
    <button type="button" [hidden] = "isTests" class="btn btn-success" (click)="showTests()">Show tests</button>
    <button type="button" [hidden] = "!isTests" class="btn btn-warning" (click)="showTests()">Hide tests</button>
</div>

<div [hidden]="!isTests" class="tests">
    <app-tests-by-student-node *ngFor="let test of tests" 
    [id]="test.id"
    [name]="test.name" 
    [isOpen]="test.isOpen"
    [openedDate]="test.openedDate" [deadline]="test.deadline"
    [studentId]="student.id">
    </app-tests-by-student-node>
</div>

