


<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">KnowledgeTester</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()" *ngIf="signedUp()">Logout</button>
  
  <div *ngIf="!signedUp()" >
    <a [routerLink]="['/login']">
      <button class="btn btn-success" (click)="onLogout()">Login</button>
    </a>
    <a [routerLink]="['/registration']">
      <button class="btn btn-success" (click)="onLogout()" style="margin-left: 20px;">Registration</button>
    </a>
  </div>
</nav>

<br>